
<div *ngFor="let dish of dishes">
  <div class='menu-container'>
      
    <div class='menu'>

        <div class='picture'>
            <img src="{{dish.image}}" alt="">
        </div>

        <div class="description">
          <div class="dish-name">{{dish.name}}</div>
          <div class="dish-description">{{dish.description}}</div>
        </div>
    
    </div>
  </div>
</div>


<mat-grid-list cols="2" rowHeight="200px">
  <div *ngFor="let dish of dishes">
    
    <mat-grid-tile>
      <img src="{{dish.image}}" alt="">
      <mat-grid-tile-footer>{{dish.name}}</mat-grid-tile-footer>
    </mat-grid-tile>
    
</div>
</mat-grid-list>

<div *ngIf="preferredDish" >
    <mat-card>
    {{preferredDish.name}}
    </mat-card>
</div>

